<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perpustakaan</title>
    <!--     Fonts and icons     -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <!-- CSS Files -->
    <link href="/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  </head>
  <body>
    <!-- Input Pinjaman -->
    <div class="container">
      <div class="container-fluid my-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Input Pinjaman</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label class="bmd-label-floating" for="nama">Nama</label>
                  <select class="form-control" id="student">
                    <% student.forEach(s => { %>
                    <option value="<%= s.id %>"><%= s.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label class="bmd-label-floating" for="buku">Buku</label>
                  <select class="form-control" id="book">
                    <% book.forEach(b => { %>
                    <option value="<%= b.id %>"><%= b.title %></option>
                    <% }) %>
                  </select>
                </div>
                <button
                  class="btn btn-primary"
                  id="pinjam"
                  onclick="borrowBook()"
                >
                  Pinjam
                </button>
                <button
                  class="btn btn-primary"
                  id="kembali"
                  onclick="returnBook()"
                >
                  Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Borrowed -->
      <div class="container-fluid my-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Sedang Dipinjam</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <tr>
                        <th>No</th>
                        <th>Siswa</th>
                        <th>Judul</th>
                      </tr>
                    </thead>
                    <tbody id="borrow"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Most Borrowed -->
      <div class="container-fluid my-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Buku Paling Sering Dipinjam</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Dipinjam</th>
                      </tr>
                    </thead>
                    <tbody id="most"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function borrowBook() {
      axios
        .post("/", {
          book: $("#book").val(),
          student: $("#student").val()
        })
        .then(res => {
          ready();
        })
        .catch(e => {
          if (e.response.status == 400 && e.response.data.error == "full") {
            alert("Siswa telah meminjam 3 buku");
          } else {
            alert("Something wrong!");
          }
        });
    }

    function returnBook() {
      axios
        .delete(`/?book=${$("#book").val()}&student=${$("#student").val()}`)
        .then(res => {
          ready();
        })
        .catch(e => {
          if (e.response.status == 400 && e.response.data.error == "empty") {
            alert("Siswa tidak sedang meminjam buku");
          } else if (
            e.response.status == 400 &&
            e.response.data.error == "no"
          ) {
            alert("Siswa tidak meminjam buku tersebut");
          } else {
            alert("Something wrong!");
          }
        });
    }

    function ready() {
      axios.get("/ready").then(res => {
        const tableBorrow = [];
        const tableMost = [];

        res.data[0].forEach((b, i) => {
          tableBorrow.push(
            `<tr>
              <td>${i + 1}</td>
              <td>${b.name}</td>
              <td>${b.title}</td>
            </tr>`
          );
        });

        res.data[1].forEach((m, i) => {
          tableMost.push(
            `<tr>
              <td>${i + 1}</td>
              <td>${m.title}</td>
              <td>${m.borrowed}</td>
            </tr>`
          );
        });

        $("#borrow").html(tableBorrow.join(""));
        $("#most").html(tableMost.join(""));
      });
    }

    $(document).ready(() => {
      ready();
    });
  </script>
</html>
